.hero-container{
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: url('./assets/images/ss.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    /* object-fit: fill; */
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

}
.hero-container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left : 0;
    top:  0;
    background-color: rgba(0,0,0,0.60);
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  


